.assignment-detail {
	padding: 1rem;
}

.due-date {
	color: var(--text-secondary);
}

.notes {
	margin-top: 4rem;
	margin-bottom: 1rem;
}

.note-add-card {
	border: 1px solid var(--text-secondary);
}

.note-add-body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	border: 1px dashed var(--text-secondary);
	border-radius: 0.25rem;
}

.note-card-text {
	margin-bottom: 0px;
}