.classes-sidebar {
    position: sticky;
    left: 0px;
    top: 0px;
    height: 100vh;
    background-color: var(--bg-secondary);
    padding: 1rem;
}

.accordion {
    border-width: 5px;
    --bs-accordion-border-width: 0px;
}

.accordion-item {
    border: none;
}

.accordion-header {
    border: none;
}

.accordion-button {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    border: none;
}

.accordion-button:not(.collapsed) {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    border: none;
}

.accordion-button::after {
    border: none;
}

.accordion-body {
    background-color: var(--bg-secondary);
    padding: 1rem;
    border: none;
}

.assignment-buttons {
    border-radius: 0px;
    width: 100%;
}

.assignment-button {
    width: 100%;
    text-align: left;
    background-color: var(--bg-secondary);
    border: none;
}

.assignment-button.active {
    background-color: var(--accent-secondary);
}

.assignment-button:hover {
    background-color: var(--accent-secondary);
}

.sidebar-logout-button {
    position: absolute;
    bottom: 1rem;
}
