.note-summary-card {
    cursor: pointer;
    height: 10rem;
    text-decoration: none;
}

.note-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(20rem, auto);
    gap: 1rem;
    margin-right: 1rem;
}

.url-rec {
    text-decoration: none;
}

.url-card {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
