.note-details {
	padding: 1rem;
}

.back-button {
	color: var(--text-secondary);
	margin-bottom: 2rem;
}

.keywords {
	margin: 3rem 0rem;
}

.keyword-container {
	background-color: var(--bg-secondary);
	padding: 1rem;
	margin: 1rem;
	border-radius: 1rem;
}

.keyword-card {
	display: flex;
}

.keyword {
	width: 30%;
	border-right: 2px solid var(--bg-primary);
	margin: 0px;
	padding: 1rem 2rem 1rem 1rem;
}

.definition {
	width: 70%;
	margin: 0px;
	padding: 1rem 1rem 1rem 2rem;
}

.keyword-add-container {
	display: flex;
	align-items: center;
	width: calc(100% - 2rem);
	box-sizing: border-box;
	background-color: var(--bg-primary);
	padding: 1rem;
	margin-inline: 1rem;
	border: 1px dashed var(--text-secondary);
	border-radius: 1rem;
}

.keyword-add-card {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background-color: var(--bg-primary);
}

.keyword-add-button {
	display: flex;
	color: var(--text-secondary);
}

.keyword-add-inputs {
	display: flex;
}


.form-control.keyword-input,
.form-control.keyword-input:active,
.form-control.keyword-input:focus,
.form-control.definition-input,
.form-control.definition-input:active,
.form-control.definition-input:focus {
	background-color: var(--bg-secondary);
	color: var(--text-primary);
	margin-bottom: 0px !important;
	border: none;
}

.form-control::placeholder {
	color: var(--text-secondary);
}

.keyword-input {
	width: 30%;
	margin-right: 1rem;
}

.definition-input {
	width: 59%;
}

.keyword-confirm-buttons {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.keyword-confirm-buttons button {
	border-radius: 1rem;
	color: var(--text-primary);
}

.keyword-confirm-buttons button:hover {
	background-color: var(--accent-primary);
	color: var(--text-primary);
}
